    body {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.btn-modern {
    background-color: aquamarine;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 5px 25px;
}

.btn-modern:hover { 
    border: none;
    transform: translateY(-5px);
    border-bottom: 2px solid cadetblue;
    background-color: aqua;
    color: bisque;
    transition: background-color, border-bottom, 0.4s;
}
